.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #fff8e8 0%,
    #f7eed3 50%,
    #aab396 75%,
    #674636 100%
  );
  padding: 20px;
  color: #000000;
  margin-bottom: 20px;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.header h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

.header p {
  font-size: 1.5rem;
  margin-top: 20px;
  color: #333;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas */
  gap: 20px;
  width: 100%;
  max-width: 700px;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 1.2rem;
  color: #000000;
  background-color: #aab396;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.feature:hover {
  background-color: #674636; /* Cor mais escura ao passar o mouse */
  transform: translateY(-2px); /* Levanta um pouco o botão */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4); /* Sombra mais pronunciada */
}

.feature h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.feature p {
  font-size: 1.1rem;
  color: #666;
  margin-top: 5px;
  line-height: 1.4;
}

/* styles/Home.module.css */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #aab396; /* Altere para a cor que preferir */
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Certifique-se de que o footer esteja acima de outros elementos */
  color: #000000;
}

.container {
  padding-bottom: 60px; /* Adicione espaço inferior para evitar sobreposição */
}

/* Media Queries para responsividade */

/* Para telas de até 768px (tablets e celulares maiores) */
@media (max-width: 768px) {
  .features {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas em vez de 3 */
    max-width: 100%;
  }

  .header h1 {
    font-size: 2.5rem;
  }

  .header p {
    font-size: 1.3rem;
  }

  .feature h2 {
    font-size: 1.6rem;
  }

  .feature p {
    font-size: 1rem;
  }
}

/* Para telas de até 480px (celulares) */
@media (max-width: 480px) {
  .features {
    grid-template-columns: 1fr; /* 1 coluna */
  }

  .header h1 {
    font-size: 2rem;
  }

  .header p {
    font-size: 1.2rem;
  }

  .feature {
    padding: 15px;
  }

  .feature h2 {
    font-size: 1.4rem;
  }

  .feature p {
    font-size: 0.9rem;
  }
}
