.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ocupa a altura total da tela */
    padding: 20px;
    background: linear-gradient(135deg, #FFF8E8 0%, #F7EED3 50%, #AAB396 75%, #674636 100%);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px; /* Largura máxima para o formulário */
}

.inputGroup {
    display: flex;
    flex-direction: column;
    color: #674636;
}

.label {
    margin-bottom: 5px; /* Espaço entre o rótulo e o campo de entrada */
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submitButton {
    padding: 10px;
    background-color: #674636; /* Cor de fundo do botão */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #AAB396; /* Cor mais clara ao passar o mouse */
}

.toggleText {
    margin-top: 15px; /* Espaço acima do texto de alternância */
    text-align: center; /* Centraliza o texto */
    color: #674636;
}

.toggleLink {
    color: #674636; /* Cor do link */
    cursor: pointer;
    text-decoration: underline; /* Sublinha o texto */
}
