.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ocupa a altura total da tela */
  padding: 20px;
  background: linear-gradient(
    135deg,
    #fff8e8 0%,
    #f7eed3 50%,
    #aab396 75%,
    #674636 100%
  );
}

.title {
  font-size: 2.5rem; /* Tamanho da fonte */
  color: #000000; /* Cor do texto */
  margin-bottom: 20px; /* Espaço abaixo do título */
  text-align: center; /* Centraliza o título */
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); /* Sombra do texto */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 400px; /* Largura máxima para o formulário */
}

.inputGroup {
  display: flex;
  flex-direction: column;
  color: #674636;
}

.label {
  font-size: 1.5rem;
  color: #333;
  font-weight: 600;
  border-radius: 10px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submitButton {
  padding: 10px;
  background-color: #674636; /* Cor de fundo do botão */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #aab396; /* Cor mais clara ao passar o mouse */
}

.backButton {
  padding: 10px;
  background-color: #674636;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px; /* Espaço acima do botão */
  width: 100%;
  max-width: 400px;
}

.backButton:hover {
  background-color: #aab396; /* Cor mais escura ao passar o mouse */
}

.toggleText {
  margin-top: 15px; /* Espaço acima do texto de alternância */
  text-align: center; /* Centraliza o texto */
  color: #674636;
}

.toggleLink {
  color: #674636; /* Cor do link */
  cursor: pointer;
  text-decoration: underline; /* Sublinha o texto */
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: -10px;
  margin-bottom: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #aab396; /* Altere para a cor que preferir */
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Certifique-se de que o footer esteja acima de outros elementos */
  color: #000000;
}

/* Estilos responsivos */
@media (max-width: 600px) {
  .title {
    font-size: 2rem; /* Tamanho da fonte para telas menores */
  }

  .label {
    font-size: 1.2rem; /* Tamanho da fonte para labels em telas menores */
  }

  .input {
    padding: 8px; /* Menos padding em telas menores */
  }

  .submitButton,
  .backButton {
    padding: 8px; /* Menos padding em telas menores */
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2.2rem; /* Ajuste de tamanho para tablets */
  }

  .label {
    font-size: 1.4rem; /* Tamanho da fonte para labels em tablets */
  }
}
