.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: linear-gradient(
    135deg,
    #fff8e8 0%,
    #f7eed3 50%,
    #aab396 75%,
    #674636 100%
  );
  min-height: 100vh;
}

.title {
  font-size: 2.5rem;
  color: #000;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 400px;
}

.input {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 1rem;
  color: #000;
}

.addButton,
.backButton {
  padding: 10px;
  background-color: #674636;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  margin-top: 15px;
}

.addButton:hover,
.backButton:hover {
  background-color: #aab396;
}

.ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
}

.li {
  background-color: #674636;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  color: white;
}

.alertBox {
  margin-top: 20px;
  background-color: #ffcc00;
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.alert {
  color: #000;
  font-weight: bold;
}
