.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Alinha o conteúdo ao topo */
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(
    135deg,
    #fff8e8 0%,
    #f7eed3 50%,
    #aab396 75%,
    #674636 100%
  );
}

.title {
  font-size: 2.5rem;
  color: #000000;
  margin-top: 20px; /* Espaço acima do título */
  margin-bottom: 30px; /* Espaço abaixo do título */
  text-align: center;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.h2 {
  color: #000;
}

.overview {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 800px; /* Largura máxima para a visão geral */
}

.card {
  background-color: #aab396; /* Cor de fundo do cartão */
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.saldo {
  font-size: 1.8rem; /* Tamanho da fonte para o saldo */
  color: #674636; /* Cor do saldo */
}

.ul {
  list-style-type: none; /* Remove marcadores */
  padding: 0; /* Remove padding */
  font-size: 1.2rem;
}

.li {
  padding: 5px 0; /* Espaçamento entre itens da lista */
  color: #333; /* Cor do texto */
}

.reports {
  margin-top: 40px; /* Espaço acima da seção de relatórios */
  color: #000000;
}

.grafico {
  background-color: #aab396; /* Cor de fundo para o gráfico */
  border-radius: 10px;
  padding: 20px;
  text-align: center; /* Centraliza o texto no gráfico */
}

.analysis {
  margin-top: 40px; /* Espaço acima da seção de análise */
  margin-bottom: 60px;
  padding: 15px;
  background-color: #aab396; /* Cor de fundo da análise */
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.reports {
  margin-top: 40px;
  color: #000000;
}

.grafico {
  background-color: #aab396;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}
.backButton {
  padding: 10px;
  background-color: #674636;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px; /* Espaço acima do botão */
  width: 100%;
  max-width: 400px;
  margin-bottom: 50px;
}

.backButton:hover {
  background-color: #aab396; /* Cor mais escura ao passar o mouse */
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #aab396; /* Altere para a cor que preferir */
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Certifique-se de que o footer esteja acima de outros elementos */
  color: #000000;
}

/* Estilos responsivos */
@media (max-width: 600px) {
  .title {
    font-size: 2rem;
  }

  .card {
    padding: 10px; /* Menos padding nos cartões em telas menores */
  }
}
